/*This is a CSS file*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1rem;
    font-style: normal;
    background-color: var(--dark-purple);
  }

:root{
    --blue: #1e90ff;
    --white: #ffffff;
    --dark-purple:  rgba(118, 96, 212, 0.308);
    --dark-blue: rgba(67, 47, 122, 0.678);
}

#to-do-list-Container{
 margin-top: 5rem;   
}
h1 {
    color: #333;
}
.dark-mode{
  background-color: var(--dark-blue);
  color: white;
}
.dark-mode button{
    color: white;
    background-color: rgb(17, 0, 255);
}
.dark-mode body h1{
    color: rgb(142, 110, 233); 
}
.todo-container {
    margin: 20px;
}

input[type="text"] {
    width: 40%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 1.5rem;
}

input:focus {
    /* background-color: blue; */
    border: 3px solid #868dee;
  }

  #add-btn{
    border-radius: 100%;
  }
button {
    padding: 20px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 12px;
}
#switchToDarkBtn{

   margin-top: 1rem;
   margin-left: 78rem;
    position: relative;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

#deleteAllBtn{
    background-color: red;
}
button.edit-btn, button.delete-btn {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.setTime{
    background-color: blue;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
